# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/

# Variables y configuración privada
.env
config.py

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos del sistema
Thumbs.db
.DS_Store

# Logs y temporales
*.log
*.tmp